
<section class="w-50 mx-auto bg-main-light p-3 shadow" *ngIf="step1">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control" >
        <button class="btn-main mt-3 w-100">forgot password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 text-center mt-2">{{userMsg}}</p>
    </form>
    
</section>


<section class="w-50 mx-auto bg-main-light p-3 shadow" *ngIf="step2">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetcode">Resetcode</label>
        <input formControlName="resetCode" type="text" id="resetcode" class="form-control">
        <button class="btn-main mt-3 w-100">Reset code</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 text-center mt-2">{{userMsg}}</p>
    </form>
</section>


<section class="w-50 mx-auto bg-main-light p-3 shadow" *ngIf="step3">
    <form [formGroup]="resetNewPassForm" (ngSubmit)="resetnewPass()">
        <label for="resetPassword">Resetpassword</label>
        <input formControlName="newPassword" type="resetPassword" id="resetPassword" class="form-control">
        <button class="btn-main mt-3 w-100">Reset password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 text-center mt-2">{{userMsg}}</p>
        <div class="alert alert-danger" *ngIf="resetNewPassForm.get('newPassword')?.errors &&(resetNewPassForm.get('newPassword')?.touched)">
            <p *ngIf="resetNewPassForm.get('newPassword')?.getError('required')">Password is required</p>
            <p *ngIf="resetNewPassForm.get('newPassword')?.getError('pattern')">Please enter 7 numbers and a letter</p>
        </div>
    </form>
    
</section>